body {
  background-color: #ffffff;
}
#navbar-default{
  margin-top:20px;
}

ul {
  list-style: none;
}

@media (max-width: 70em) {
  main>header {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  main>header h1 {
    grid-row-end: span 2;
  }
}

@media (max-width: 40em) {}

@media (max-width: 25em) {
  body {
    margin: 0;
  }

  main>header {
    margin: 0;
    padding: 0.5em;
  }

  main>header span {
    margin: 0;
  }

  #content form {
    margin: 0;
    max-width: 25em;
  }
}
